h1.head
{
	background-color: red;	
	width: 100%;
	font-family: Georgia;
	font-size: 200%;
	letter-spacing: 10px;
}
p.head
{
	background-color: orange;
	width: 50%;
	font-size: 300%;
	font-family: 'Geo', serif, sans-serif;
}
div.head
{
	text-align: center;
}

div.body
{
	text-align: center;
	text-decoration: underline;
	text-decoration: overline;
	text-decoration-color: blue;
	color: green;
	background-image: url(images/potato.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width:100%;
	height: 200%;
}

table, td, tr
{
	text-align: center;
	font-family: 'Geo';
	font-size: 150%;
	color: red;
	background-color: pink;
	border: 2px dashed orange;
	padding: 5px;
}

div.table
{
	margin: auto;
	align-items: center !important;
	text-align: center;
	padding:3px;
}

footer.foot
{
	text-align: left;
	font-family: sans-serif;
	color: brown;
}

body
{
	background-color: #C0A000;
}

body.legit, th.legit
{
	font-family: 'Arimo'!important;
	padding: 5px;
	margin: auto !important;
}

ul.bar
{

}